*{
    padding: 0;
    margin: 0;
    color: #FFF;
}

body{
    background-color: #ededed;
}

.container2{
    overflow: hidden;
    z-index: 10;
    position: relative;
    margin: 150px auto;
    height: 30%;
    width: 30%;
    /* background-color: #F17022; */
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}



.Circle1{
    z-index: 100;
    position: absolute;
    height: 186px;
    width: 148px;
    right: -33px;
    top: -37px; 
    border-radius: 50%;
    /* background-color: rgba(253,184,19,1); */
    animation: enlarge;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.Circle2{
    z-index: 80;
    position: absolute;
    height: 257px;
    width: 212px;
    right: -59px;
    top: -58px;
    border-radius: 50%;
    /* background-color: rgba(246,140,31,0.7); */
    
    animation: enlarge;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.Circle3{
    z-index: 50;
    position: absolute;
    height: 355px;
    width: 291px;
    right: -101px;
    top: -98px;
    border-radius: 50%;
    /* background-color: rgba(241,125,45,0.7); */
    
    animation: enlarge;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}



/*  CONTENT  */

.sun{
    z-index: 1000;
    font-size: 15px !important;
}

.Condition{
    z-index: 1000;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 30px;
    left: 20px;  
    top: 10px;
}

.Temp{
    z-index: 1000;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    left: 20px;
    bottom: 5px;
}

#F{
    z-index: 1000;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 20px;
}


.Time{
    z-index: 1000;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    font-weight: 200;
    right: 20px;
    top: 10px;
}

.locationIcon{
    z-index: 1000;
    font-size: 10px !important;
}

.Location{
    z-index: 1000;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    font-weight: 200;
    right: 30px;
    bottom: 15px;
}

@keyframes enlarge{
    50%{
        transform: scale(1.2);
    }
}